.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 64, 64);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background-color: rgb(175, 175, 175);
}



.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid img{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.origami{
    
    border-radius: 20px;
    background-color: rgb(172, 167, 167);
    width: 205px;
    font-family: sans-serif;
    
    
    
}
